<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
	<head>  
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="/favicon.ico">
		
		<title>{{title}}</title> 
		
		<!-- Bootstrap core CSS -->
		<link href="/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
		
		<link rel="stylesheet" href="/bootstrap-tagsinput/bootstrap-tagsinput.css">

		<!-- Custom styles for this template -->
		<link href="/static/css/blog.css" rel="stylesheet">	
	</head>
	<body>
		<div class="blog-masthead">
		  <div class="container">
			<nav class="blog-nav">
			  <a class="blog-nav-item" href="/">Home</a>
			  <a class="blog-nav-item" href="/about">About</a>
			  {% if isAdmin %}<a class="blog-nav-item" href="/admin">Admin</a>{% endif %}
			</nav>
		  </div>
		</div>

		<div class="container">

		  <div class="blog-header">
			<h1 class="blog-title">{{title}}</h1>
			<p class="lead blog-description">{{subtitle}}</p>
		  </div>

		  <div class="row">

			<div class="col-sm-8 blog-main">
				<form action="/admin/editpost/{{post.url}}" method="post">
					<div class="form-group">
						<h2 class="blog-post-title">Edit post</h2>
						<hr>												
						<label for="inputTitle">Post name</label>
						<input type="text" class="form-control" id="inputTitle" name="Title" placeholder="Add a cool post name" value="{{post.title}}">
						<label for="inputTitle">Current url</label>
						<input type="text" class="form-control" id="inputTitle" name="URL" disabled value="{{post.url}}">						
						<label for="inputSummary">Post summary</label>
						<textarea class="form-control" rows="3" id="inputSummary" name="Summary" placeholder="Add a quick description">{{post.summary}}</textarea>
						<label for="inputAuthor">Post author</label>
						<input type="text" class="form-control" id="inputAuthor" name="Author" placeholder="Your name" value="{{post.author}}"><br>
						<label for="inputTags">Tag list</label>
						<input type="text" value="{% for tag in post.tags %}{{tag}}{%if not loop.last %},{% endif %}{% endfor %}" data-role="tagsinput" name="Tags" placeholder="Add tags" /><br>
						<label for="inputContent">Post content</label>
						<textarea class="form-control" rows="15" id="inputContent" name="Content" placeholder="Add your new post here">{{post.content}}</textarea>
						<hr>
						<button type="submit" class="btn btn-primary">Save post</button>
						<button type="button" class="btn btn-danger" onclick="document.location.href = '/admin'">Back</button>
					</div>
				</form>
			</div>

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			  <div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>{{about}}</p>
			  </div>
			  <div class="sidebar-module">
				<h4>Tag Cloud</h4>
				{% for key in tagCloud %}
				<a href="/searchbytag/{{key}}/page/0" style="font-size: {{tagCloud[key]}}px;">{{key}}</a>
				{% endfor %}
			  </div>
			  <div class="sidebar-module">
				<h4>Elsewhere</h4>
				<ol class="list-unstyled">
				{% for linkName, link in otherLinks.items() %}
				  <li><a href="{{link}}">{{linkName}}</a></li>
				{% endfor %}
				</ol>
			  </div>
			</div><!-- /.blog-sidebar -->

		  </div><!-- /.row -->

		</div><!-- /.container -->

		<div class="blog-footer">
		  <p>
			<a href="#">Back to top</a>
		  </p>
		</div>
		
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/jquery/1.11.0/jquery.min.js"></script>
		<script src="/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
		<script src="/bootstrap-tagsinput/bootstrap-tagsinput-angular.js"></script>
		<script src="/static/js/docs.min.js"></script>
	</body>
</html>
{% endautoescape %}